.feature-item {
    position: relative;
    text-align: left;
    padding-bottom: 2.5rem;
    
    @mixin atSmall {
        padding-left: 94px;
    }
    
    &__icon {
        display: block;
        margin: 0 auto;
        @mixin atLarge {
                    position: absolute;
        left : 0;
        }
    }
&__title{
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 0.6em;
        margin-bottom: .8rem;
        text-align: center;
        
        @mixin atSmall {
            
        }
        @mixin atMedium {
            text-align: left;
        }
        @mixin atLarge {
            margin-top: 1em;
            font-size: 1.875rem;
            text-align: left;
        }
    }
}